# Google Maps API Key (opcional si solo usas el parser)
GOOGLE_MAPS_API_KEY=tu_api_key_aqui

# Google Sheets Config
GOOGLE_SHEET_ID=id_de_tu_hoja_de_calculo
GOOGLE_SERVICE_ACCOUNT_EMAIL=usuario@tu-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTu_Llave_Privada_Aqui\n-----END PRIVATE KEY-----\n"
